@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: "Poppins", sans-serif;
}
.paragraph{
  color:white;

}
.footerMain{
display: flex;
white-space: nowrap;
border: 0;
bottom: 0;
width:100%;
align-content: center;
}
.footerMain img {
  flex: 1;
  position: center;
  width: 30%;
  height: 20%;
  align-self: center;
  border: auto;
  border-left: auto;
  resize: contain;
}
.footerMain p {
  position: absolute;
  bottom: 0;
  width:100%;
  border-left: auto;
  border-right: auto;
  display: flex;
  white-space: nowrap;
  justify-content: space-evenly;
  
  font-size: 30px;
}
.close{
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.root{
  border-top: 20px;

}
.selector{
  width:100%;
}
.itemselector{
  margin: auto;
  width:100%;
  border-left: auto;
  border-right: 0;
  display: flex;
  white-space: nowrap;
  justify-content: space-evenly;
}

